.container {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
}

.navbar {
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.page {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  padding: 7px;
}

.page:hover {
  color: var(--text-primary);
  cursor: pointer;
  background-color: grey;
  border-radius: 10px;
}

.divisor {
  width: 1px;
  background-color: var(--foreground);
  opacity: 0.03;
  margin-left: 15px;
}
