:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Arial,
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  user-select: text;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
}

.content {
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
