.footer {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.name {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  text-align: center;
}

.divisor {
  width: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.1) 90%,
    transparent
  );
  height: 1px;
}
