.footer {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.name {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  text-align: center;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: var(--foreground);
  opacity: 0.03;
}
